{% extends 'base.html' %}

{% block main_title %}Personalized Music Time Capsule{% endblock main_title %}
{% block second_title %}Create your nostalgic playlist{% endblock second_title %}

{% block main_content %}
        <form class="margin-t" action="/home/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="form-button button-l margin-b">Create Playlist!</button>

            {% comment %}
                <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
                <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
                <a class="text-darkyellow" href="#"><small>Sign Up</small></a>
            {% endcomment %}

        </form>
{% endblock %}
