{% extends 'base.html' %}

{% block main_title %}Personalized Music Time Capsule{% endblock main_title %}
{% block second_title %}Create your nostalgic playlist{% endblock second_title %}

{% block main_content %}

        <form class="margin-t" action="{% url 'home' %}" method="post" onsubmit="event.preventDefault(); show_preloader(this);">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <h5 class="text-darkred">{{ message }}</h5>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="form-button button-l margin-b">Create Playlist!</button>
            {% comment %}
                <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
                <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
                <a class="text-darkyellow" href="#"><small>Sign Up</small></a>
            {% endcomment %}

        </form>
{% endblock %}

{% block end_of_body %}

<script>

    const loader = '<div class="loading">' +
            '<div class="loading-text">' +
                '<span class="loading-text-words">C</span>' +
                '<span class="loading-text-words">R</span>' +
                '<span class="loading-text-words">E</span>' +
                '<span class="loading-text-words">A</span>' +
                '<span class="loading-text-words">T</span>' +
                '<span class="loading-text-words">I</span>' +
                '<span class="loading-text-words">N</span>' +
                '<span class="loading-text-words">G</span>' +
            '</div>' +
        '</div>'

    const show_preloader = form => {
        form.submit();
        form.remove();
        $('.container-content').prepend(loader);
    }
</script>

{% endblock %}
